body {
    background-color: #f8f7ff;
    color: black;
  }

  .leftProfile {
    border-right: 2px solid lightgrey;
  }

.rounded-circle {
    width: 150px;
    height: 150px;
}

  .locationIcon {
    width: 5%;
  }

.downloadIcon {
    width: 10%;
}

  .githubIcon {
    width: 33%;
  }

  .emailIcon {
    width: 34%;
  }