body {
    background-color: #ffffff;
    color: black;
}

/* LEFT SIDE */

.kolbie {
    /* border: 2px solid #81b29a; */
    box-shadow: 0px 0px 11px 0px black;
    /* box-shadow: 0px 0px 16px 5px lightblue; */
}

.leftProfile {
    border-right: 2px solid lightgrey;
}

.rounded-circle {
    width: 150px;
    height: 150px;
}

  .locationIcon {
    width: 5%;
  }

.downloadIcon {
    width: 33%;
}

.githubIcon {
    width: 33%;
}

.emailIcon {
    width: 34%;
}

/* RIGHT SIDE */

h3 {
    padding-bottom: 3px;
    border-bottom: 1px solid lightgray;
}

.quote {
    font-style: italic;
    letter-spacing: 0.5px;
}

.billieHoliday {
    font-weight: bold;
    text-align: end;
}

.billieHoliday {
    font-weight: 600;
    font-style: normal;
}

.cardTitle {
    font-weight: 500;
}


.projectImage {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    align-content: center;
}


span {
    font-weight: 600;
}

.more {
    color: black;
}

.compName {
    font-size: medium;
}

.secPlusLg {
    width: 71%;
}

.cyberRangeLg {
    border-radius: 8px;
}

@media (min-width: 768px) {

    .leftProfile {
        border-right: 2px solid lightgrey;
        position: sticky;
        top: 0;
        height: 100vh;
        overflow-y: auto;
    }    

    .cyberRange {
        padding: 0;
        align-content: center;
    }

    .compName {
        font-size: larger;
    }
}

@media (max-width: 426px) {

    .leftProfile {
        border-bottom: 2px solid lightgrey;
    }

    .cyberRange {
        padding: 0;
        align-content: center;
    }
}

@media (min-width: 1024px) {
    .secPlus {
        width: 83%;
        margin-left: 10px;
    }
}

@media (min-width: 1440px) {
    .quote {
        margin-left: 2%;
        font-size: x-large;
    }

    .billieHoliday {
        margin-right: 4%;
        font-size: larger;
        letter-spacing: 1px;
    }

    .compName {
        font-size: x-large;
    }

    p {
        font-size: larger;
    }

    .cardTitle {
        font-size: larger;
    }

    .more {
        font-size: large;
    }
}